input {
  height: 30px;
  width: 400px;
  margin: 10px;
}

textarea {
  height: 100px;
  width: 400px;
  margin: 5px 10px;
}

button {
  margin: 5px;
}

ul {
  list-style: none;
}

.App {
  padding: 20px;
}

.blogForm {
  border: solid 1px #000;
  width: 100%;
}

.blogContent {
  border: solid 1px #000;
}

.contentBtn {
  text-align: right;
  padding: 0 10px;
}

.editForm {
  border: solid 1px #000;
}